/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";
@namespace view "com.dasflash.soundcloud.scup.view.*";

/*@font-face
{
	fontFamily: Interstate-Regular;
	fontWeight: normal;
	fontStyle: normal;
	src: local("Interstate-Regular");
}
@font-face
{
	fontFamily: Interstate-Light;
	fontWeight: normal;	
	fontStyle: normal;
	src: local("Interstate-Light");
}*/
@font-face
{
	fontFamily: Lucida Sans;
	fontWeight: normal;
	fontStyle: normal;
	src: url("assets/lsans.ttf");
}
@font-face
{
	fontFamily: Lucida Sans;
	fontWeight: bold;
	fontStyle: normal;
	src: url("assets/lsansd.ttf");
}

global
{
	fontFamily: Lucida Grande, Lucida Sans, Lucida-Sans, LucidaSans, Lucida Sans Unicode, Arial;
	fontSize: 12;
	color: #333333;
}
s|SkinnableComponent
{
	focusSkin: ClassReference('com.dasflash.soundcloud.scup.view.skins.FocusSkin');
}
.dropWindowHead
{
	fontFamily: Interstate-Regular, Helvetica, Arial, sans-serif;
	fontSize: 21;
	textAlign: center;
	paddingLeft: 40;
	paddingRight: 40;
}
.dropWindowBody
{
	fontFamily: Interstate-Light, Helvetica, Arial, sans-serif;
	fontSize: 14;
	color: #999999;
	textAlign: center;
	paddingLeft: 40;
	paddingRight: 40;
	paddingBottom: 10;
}
.codeTextInput
{
	
}
.mainWindow
{
	background-color: #999999;
}
.setDetailsHead
{
	color: #333333;
	font-size: 18px;
}
.bodySoft
{
	color: #777777;
}
.trackListTitle
{
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.dropHereLabelHead
{
	fontFamily: Interstate-Light, Helvetica, Arial, sans-serif;
	fontSize: 22;
	color: #999999;
	textAlign: center;
}
.dropHereLabelSub
{
	fontFamily: Interstate-Light, Helvetica, Arial, sans-serif;
	fontSize: 16;
	color: #999999;
	textAlign: center;
}
.bodyWhite
{
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.textButton
{
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.gridRow 
{
	borderSkin: ClassReference('com.dasflash.soundcloud.scup.view.skins.GridRowBorderSkin');
	dropShadowEnabled: false;
	borderSides: top;
	borderColor: #e9ebee;
	borderStyle: solid;
	borderThickness: 1;
}
.right
{
	textAlign: right; 
}
.dateField
{
	borderSkin: ClassReference(null);
	paddingTop: 4;
	paddingBottom: 0;
}
.sharingPanelCB
{
	color: #FFFFFF;
	fontWeight: bold;
	fontSize: 11px;
	corner-radius: 4;
}
.sharingPanelHelp
{
	font-size: 11px;
	color: #FFFFFF;
}
.standardButton
{
	corner-radius: 4;
}
.linkButton
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
}
.trackTextInput
{
	contentBackgroundColor: #FFFFFF;
}
.deleteArtworkButton
{
	up-skin: Embed('assets/delete_button.png');
	down-skin: Embed('assets/delete_button_over.png');
	over-skin: Embed('assets/delete_button_over.png');
}
.trackListLinkButton
{
	font-size: 11px;
}


