/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face
{
	fontFamily: Interstate-Regular;
	fontWeight: normal;
	fontStyle: normal;
	src: url("assets/Interstate-Regular.ttf");
}
@font-face
{
	fontFamily: Interstate-Light;
	fontWeight: normal;	
	fontStyle: normal;
	src: url("assets/Interstate-Light.ttf");
}

@font-face
{
	fontFamily: LucidaGrande;
	fontWeight: normal;
	fontStyle: normal;
	src: url("assets/LucidaGrande.ttf");
}
@font-face
{
	fontFamily: LucidaGrande;
	fontWeight: bold;
	fontStyle: normal;
	src: url("assets/LucidaGrandeBold.ttf");
}
@font-face
{
	fontFamily: LucidaGrandeMX;
	fontWeight: normal;
	fontStyle: normal;
	src: url("assets/LucidaGrande.ttf");
	embedAsCFF: false;
}
@font-face
{
	fontFamily: LucidaGrandeMX;
	fontWeight: bold;
	fontStyle: normal;
	src: url("assets/LucidaGrandeBold.ttf");
	embedAsCFF: false;
}

global
{
	fontFamily: LucidaGrande;
	fontSize: 12;
	color: #333333;
}
s|SkinnableComponent
{
	focusSkin: ClassReference('com.dasflash.soundcloud.scup.view.skins.FocusSkin');
}
mx|Button, mx|TextInput, mx|DateField, mx|Alert, mx|AlertForm
{
	fontFamily: LucidaGrandeMX;
}
mx|ToolTip {
	fontFamily: LucidaGrandeMX;
	backgroundAlpha: 1.0;
	backgroundColor: #FFFFCA;
	color: #000000;
	cornerRadius: 0;
	fontSize: 11;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}
.authWindowHead
{
	fontFamily: Interstate-Regular;
	fontSize: 21;
	textAlign: center;
	paddingLeft: 40;
	paddingRight: 40;
}
.authWindowBody
{
	fontFamily: Interstate-Light;
	fontSize: 14;
	color: #999999;
	textAlign: center;
	paddingLeft: 40;
	paddingRight: 40;
	paddingBottom: 10;
}
.mainWindow
{
	background-color: #999999;
}
.setDetailsHead
{
	color: #333333;
	font-size: 18px;
}
.bodySoft
{
	color: #777777;
}
.trackListTitle
{
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.dropHereLabelHead
{
	fontFamily: Interstate-Light;
	fontSize: 22;
	color: #AAAAAA;
	textAlign: center;
}
.dropHereLabelSub
{
	fontFamily: Interstate-Light;
	fontSize: 16;
	color: #AAAAAA;
	textAlign: center;
}
.bodyWhite
{
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
.gridRow 
{
	borderSkin: ClassReference('mx.skins.halo.HaloBorder');
	dropShadowEnabled: false;
	borderSides: top;
	borderColor: #e9ebee;
	borderStyle: solid;
	borderThickness: 1;
}
.gridRowTrack
{
	borderColor: #e2e4e7;
}
.right
{
	textAlign: right; 
}
.dateField
{
	borderSkin: ClassReference(null);
	paddingTop: 3;
	paddingBottom: 0;
	paddingLeft: 0;
}
.sharingPanelTitle
{
	color: #FFFFFF;
	fontWeight: bold;
	fontSize: 11px;
}
.sharingPanelCB
{
	corner-radius: 4;
}
.sharingPanelHelp
{
	font-size: 11px;
	color: #FFFFFF;
}
.standardButton
{
	corner-radius: 4;
}
.trackTextInput
{
	contentBackgroundColor: #FFFFFF;
}
.trackListLinkButton
{
	font-size: 11px;
}
.expandButton
{
	font-size: 11px;
	font-weight: bold;
	focus-skin: ClassReference(null);
}
.expandButtonLight
{
	color: #FFFFFF;
}
